<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="home.css">
    <title>Ratnasmriti Gems & Jewellers</title>
    <link rel="icon" href="images/logo.ico" type="image/x-icon">
</head>

<body>
    <div class="total_body">
        <div class="top_nav">
            <div class="title">
                <h2 style="font-family: Plus Jakarta Sans;">Ratnasmriti Gems & Jewellers</h2>
            </div>
            <div class="menu">
                <ul id="sidemenu">
                    <li><a href="{% url " landing_home" %}">Home</a></li>
                    <li><a href="{% url " landing_about" %}">About</a></li>
                    <li><a href="#">Catagory &dtrif;</a>
                        <ul class="dropdown">
                            <li><a href="#">Catagory 1</a></li>
                            <li><a href="#">Catagory 2</a></li>
                            <li><a href="#">Catagory 3</a></li>
                            <li><a href="#">Catagory 4</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url " landing_notice" %}">Contact US</a></li>

                </ul>
            </div>
            <i class="fas fa-bars" id="menuIcon"></i>
        </div>

        <div class="logo_title">
            <div class="logo"><img src="images/logo.jpeg" alt=""></div>
            <div class="logo_text">
                <h2 style="font-family: Plus Jakarta Sans;">Ratnasmriti Gems & Jewellers</h2>
            </div>
        </div>
        <div class="social_links">
            <a href="tel:+916291176902" title="Click Here to Call Us"><i class="fa-solid fa-square-phone"></i></a>
            <a href="https://www.facebook.com/rsjchannel/" target="_blank" title="Visit Our Facebook Page "><i
                    class="fa-brands fa-facebook"></i></a>
            <a href="https://youtu.be/Jgcmim_NTIM" target="_blank" title="Visite Our YouTube Channel"><i
                    class="fa-brands fa-youtube"></i></a>
            <a href="https://maps.app.goo.gl/4RfrmAmUnJcNtucw8" target="_blank"
                title="Click Here to See our Shop Location"><i class="fa-solid fa-location-dot"></i></a>
        </div>

        <div class="main_body">
            <div class="slider-container">
                <div class="image-container">
                    <img class="slimg" src="images/store1.jpeg" alt="image">
                    <img class="slimg" src="images/store1.jpeg" alt="image">
                    <img class="slimg" src="images/store1.jpeg" alt="image">
                    <img class="slimg" src="images/store1.jpeg" alt="image">
                    <img class="slimg" src="images/store1.jpeg" alt="image">
                </div>
                <i class="fas fa-angle-double-left btn prev"></i>
                <i class="fas fa-angle-double-right btn next"></i>
            </div>
            <div class="about_us">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nostrum ad ipsa expedita libero suscipit nobis laboriosam ex at omnis, assumenda optio sapiente provident quaerat impedit officiis, cum accusamus. Distinctio.
                Illum commodi cupiditate et repellat, incidunt alias esse similique inventore fugit sequi vero mollitia sed dolorum iste tempora iusto asperiores error quae odio impedit quo nisi. Recusandae eius nihil nisi.
                Nihil tempore illo in exercitationem accusamus, accusantium error ab iusto unde sed velit omnis cupiditate harum sunt consequuntur magnam quae, aut animi inventore, cumque ipsum reiciendis labore. Ipsam, commodi sapiente.
                Ad eaque, assumenda repudiandae itaque reiciendis cumque debitis expedita earum, libero quis doloremque aliquam, illum amet rerum! Placeat distinctio ipsam impedit reiciendis amet corrupti, blanditiis nostrum adipisci quo sit tempore!
                Nisi id mollitia quidem adipisci at error eveniet ipsam a magni quasi. Sequi eligendi doloremque earum explicabo. Perferendis consequatur error voluptatum sint! Animi molestiae minus, corrupti natus nihil distinctio exercitationem!
                Iste laboriosam, eius optio repellat incidunt enim maiores eos rerum expedita? Repudiandae ratione repellat placeat tenetur consequatur voluptatem enim, soluta, eveniet atque voluptas mollitia. Iusto, adipisci velit. Laboriosam, adipisci ex.
                Modi qui animi reprehenderit sequi, ipsam ipsum odio odit earum molestias eaque. Aliquam cum molestias nostrum a, omnis sequi tempore rerum laborum vel quibusdam, minima explicabo, voluptatum quasi deleniti? Natus.
                At facere quod possimus magnam aliquam libero sed veritatis debitis temporibus aliquid adipisci recusandae quidem deleniti soluta corporis, repellendus officiis asperiores iure delectus modi perspiciatis voluptates, rerum fugiat incidunt? Dolorum!
                Magnam, veritatis eligendi sequi eaque quasi ratione amet nostrum recusandae molestiae dolores tenetur reiciendis ea, a incidunt alias earum, esse necessitatibus obcaecati nam perferendis deserunt mollitia! Ad inventore enim modi.
                Consequuntur facere voluptates sint iste deserunt vero ratione saepe ea doloremque. Eius nostrum itaque culpa, nesciunt tempore quod eligendi, fugit nisi adipisci excepturi ex at architecto ullam asperiores ab quia?

                <div class="social_links">
                    <a href="tel:+916291176902" title="Click Here to Call Us"><i class="fa-solid fa-square-phone"></i></a>
                    <a href="https://www.facebook.com/rsjchannel/" target="_blank" title="Visit Our Facebook Page "><i
                            class="fa-brands fa-facebook"></i></a>
                    <a href="https://youtu.be/Jgcmim_NTIM" target="_blank" title="Visite Our YouTube Channel"><i
                            class="fa-brands fa-youtube"></i></a>
                    <a href="https://maps.app.goo.gl/4RfrmAmUnJcNtucw8" target="_blank"
                        title="Click Here to See our Shop Location"><i class="fa-solid fa-location-dot"></i></a>
                </div>
            </div>
        </div>
    </div>
    <script src="home.js"></script>
</body>

</html>